/*ini css*/

nav {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}


.logo{
    height: 50px;
}

.nav-container {
    display: flex;
    
}

.nav-item {
  border: 1px solid;
    padding: 8px;
}

.main-title {
    text-align: center;
}

.main-title-judul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: flex;
}

.main-content-item {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-contactus{
    font-size: 80%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.fillbox{
    width: 80%;
    display: flex;
    flex-direction: column;   
}

button {
    height: 32px;
    background-color: rgb(3, 52, 95);
    border: 1px solid;
    color: aliceblue;
    }
    
.alasan{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.why-ytta1{
    display: flex;
    align-items: center;
}

.why-ytta2{
    display: flex;
    align-items: center;
}

.why-ytta3{
    display: flex;
    align-items: center;
}

.our-package{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:silver;
    }

    .paket-bali {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }

    .desk-bali {
       display: flex;
       flex-direction: column;
    }

    .paket-japan {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }

    .desk-japan {
       display: flex;
       flex-direction: column;
    }

    .paket-sgp {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }

    .desk-sgp {
       display: flex;
       flex-direction: column;
    }

    .isi-paket{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }

    .kurungan-paket{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .kota-bdg {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }

    .desk-bdg {
       display: flex;
       flex-direction: column;
    }

    .kota-sby {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }

    .desk-sby {
       display: flex;
       flex-direction: column;
    }

    .kota-dps {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }

    .desk-dps {
       display: flex;
       flex-direction: column;
    }

    .isi-kota{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }

.centerbutton{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }

.container {
    height: 40px;
    position: relative;
    border: 3px;
    }

.footer { 
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    }
